.sectionDoInicio {
  height: 85vh;
  display: flex;
  justify-content: center;

  .divDoIninio {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    margin-top: 15%;

    .titulo {
      font-size: 6rem;
      font-family: "Source Sans 3";
      font-weight: 700;
      height: 20vh;
      color: #205691;
    }

    .paragrafo {
      font-family: "Alatsi";
      font-size: 1.2rem;
      color: #205691;
      margin-top: 6rem;
      font-weight: 400;
    }
  }


}

///////////////////////////////////////////////////////////////
///                    RESPONSIVO
//////////////////////////////////////////////////////////////

@media (min-width: 201px) and (max-width: 500px) {
  .sectionDoInicio {
    height: 100vh;
    display: flex;
    flex-direction: column;


    .divDoIninio {
      .titulo {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 2rem;
      }

      .paragrafo {
        font-size: 1rem;
      }
    }

    .ImgInicial {
      border-radius: 193px;
      width: 80vw;
      margin-left: 3rem;
    }
  }
}
