.sectionDoInicio {
  height: 80vh;
  display: flex;

  .divDoIninio {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    margin-top: 15%;

    .titulo {
      font-size: 6rem;
      font-family: "Source Sans 3";
      font-weight: 700;
      height: 20vh;
      color: #205691;
    }

    .paragrafo {
      font-family: "Alatsi";
      font-size: 1.2rem;
      color: #205691;
      margin-top: 4rem;
      font-weight: 400;
    }
  }

  .ImgInicial {
    width: 40vw;
    margin-right: 2rem;
  }
}

///////////////////////////////////////////////////////////////
///                    RESPONSIVO
//////////////////////////////////////////////////////////////

@media (min-width: 201px) and (max-width: 500px) {
  .sectionDoInicio {
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
