.navBar {
  background-color: #205691;
  display: flex;
  height: 8vh;
  align-items: center;
  justify-content: space-around;

  .imgLogo {
    height: 5vh;
    margin: 15%;
  }

  ul {
    display: flex;
    justify-content: space-between;
    color: #ffff;
    width: 50vw;
    
    a {
      color: #ffffff;
      font-size: 1.5rem; 
      font-family: "Inter"
      
       }
  }

  .fotoDePerfil {
    height: 6vh;
    border: solid 0.3rem #00aaff;
    border-radius: 100px;
  }
}

////////////////////////////////////////////////
//                RESPONSIVO
/////////////////////////////////////////////////

@media (min-width: 201px) and (max-width: 500px) {
  .navBar {
    height: 10vh;

    ul {
      a {
        font-size: 0.7rem;
      }
    }

    .imgLogo {
      width: 10vw;
    }

    .fotoDePerfil {
      height: 6vh;
      width: 10vw;
    }
  }
}
