.navBar {
  background-color: #205691;
  display: flex;
  height: 8vh;
  align-items: center;
  justify-content: space-around;

  .imgLogo {
    height: 5vh;
    margin: 15%;
  }

  ul {
    display: flex;
    justify-content: space-between;
    color: #ffff;
    width: 50vw;

    a {
      font-weight: 400;
      color: #ffffff;
      font-size: 1.3rem;
      font-family: "Inter";
    }
  }

  .fotoDePerfil {
    height: 6vh;
    border: solid 0.3rem #00aaff;
    border-radius: 100px;
  }
}

////////////////////////////////////////////////
//                RESPONSIVO
/////////////////////////////////////////////////


@media (min-width: 201px) and (max-width: 500px) {

 
}